/* Personal / cart / order — load only on /personal/* (see header.php) */

.sale-personal-section__list{
	width:100%;
	float:left;
}

.sale-personal-section__item{
	width:25%;
	height:160px;
	float:left;
	display:table;
	margin-bottom:2px;
	padding-left:2px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.sale-personal-section__item:first-child,
.sale-personal-section__item:nth-child(4n+1){
	padding:0px;
}

.sale-personal-section__item-link{
	display:table-cell;
	vertical-align:middle;
}

.sale-personal-section__item-icon,
.sale-personal-section__item-title{
	display:block;
}

.sale-personal-section__item-icon{
	position:relative;
}

.sale-personal-section__item-sum-wrap{
	width:100%;
	position:absolute;
	left:0;
	bottom:-7px;
}

.sale-personal-section__item-sum{
	display:table;
	margin:0 auto;
	padding:0 8px;
}

.sale-personal-section__item-title{
	margin-top:16px;
}

.sale-personal-section__item-count{
	display:inline-block;
	vertical-align:top;
	padding:0px 8px;
}

/***ORDER_CART***/
.cart-items .sort-clear{
	width:100%;
	display:table;
	margin:0px 0px 10px 0px;
	padding:0px;
}

.cart-items .sort,
.cart-items .clear{
	display:table-cell;
	vertical-align:top;
	margin:0px;
	padding:0px;
}

.cart-items .sort .sorttext,
.cart-items .sort a.sortbutton{
	display:inline-block;
	margin:0px 10px 10px 0px;
	padding:0px;
}

.cart-items .sort a.sortbutton.current{
	padding:6px 10px;
}

.cart-items .sort a.sortbutton .mob{
	display:none;
}

.cart-items .clear{
	width:157px;
}

.cart-items .clear.clear-shelve{
	width:182px;
}

.cart-items .clear.clear-subscribe{
	width:176px;
}

.cart-items .clear a.clear_cart{
	height:27px;
	display:block;
	margin:0px;
	padding:0px;
}

.cart-items .clear .clear_cont{
	height:27px;
	display:table;
	margin:0px auto;
	padding:0px;
}

.cart-items .clear .clear_cont i,
.cart-items .clear .clear_cont span{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .clear .clear_cont i{
	padding:0px 7px 0px 0px;
}

.cart-items .equipment,
.cart-items .equipment-order,
.cart-items .equipment-profile{
	width:100%;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .thead,
.cart-items .equipment-order .thead,
.cart-items .equipment-profile .thead{
	width:100%;
	height:31px;
	display:table;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .thead .cart-item-image,
.cart-items .equipment .thead .cart-item-name,
.cart-items .equipment .thead .cart-item-price,
.cart-items .equipment .thead .cart-item-quantity,
.cart-items .equipment .thead .cart-item-summa,
.cart-items .equipment .thead .cart-item-actions,
.cart-items .equipment-order .thead .cart-item-name,
.cart-items .equipment-order .thead .cart-item-price,
.cart-items .equipment-order .thead .cart-item-quantity,
.cart-items .equipment-order .thead .cart-item-summa,
.cart-items .equipment-profile .thead .cart-item-number,
.cart-items .equipment-profile .thead .cart-item-date,
.cart-items .equipment-profile .thead .cart-item-name,
.cart-items .equipment-profile .thead .cart-item-person-type,
.cart-items .equipment-profile .thead .cart-item-actions{
	height:31px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .equipment-profile .thead .cart-item-number{
	width:42px;
	padding-left:15px;
}

.cart-items .equipment-profile .thead .cart-item-date{
	width:140px;
}

.cart-items .equipment .thead .cart-item-image{
	width:78px;
	padding:0px 0px 0px 9px;
}

.cart-items .equipment .thead .cart-item-name,
.cart-items .equipment-order .thead .cart-item-name,
.cart-items .equipment-profile .thead .cart-item-name{
	width:auto;
}

.cart-items .equipment-order .thead .cart-item-name{
	padding:0px 0px 0px 15px;
}

.cart-items .equipment .thead .cart-item-price{
	width:85px;
}

.cart-items .equipment-order .thead .cart-item-price{
	width:100px;
}

.cart-items .equipment .thead .cart-item-quantity{
	width:79px;
	padding:0px 4px 0px 19px;
}

.cart-items .equipment-order .thead .cart-item-quantity{
	width:58px;
}

.cart-items .equipment .thead .cart-item-summa{
	width:85px;
}

.cart-items .equipment-order .thead .cart-item-summa{
	width:87px;
	padding:0px 13px 0px 0px;
}

.cart-items .equipment-profile .thead .cart-item-person-type{
	width:124px;
	padding-left:30px;
}

.cart-items .equipment .thead .cart-item-actions{
	width:83px;
	padding:0px 0px 0px 30px;
}

.cart-items .equipment-profile .thead .cart-item-actions{
	width:62px;
}

.cart-items .equipment .tbody,
.cart-items .equipment-order .tbody,
.cart-items .equipment-profile .tbody{
	width:100%;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .tr,
.cart-items .equipment-order .tbody .tr,
.cart-items .equipment-profile .tbody .tr{
	width:100%;
	margin:2px 0px 0px 0px;
	padding:0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.cart-items .equipment .tbody .tr_into,
.cart-items .equipment-order .tbody .tr_into,
.cart-items .equipment-profile .tbody .tr_into{
	width:100%;
	display:table;
	margin:0px;
	padding:4px 0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.cart-items .equipment .tbody .cart-item-image,
.cart-items .equipment .tbody .cart-item-name,
.cart-items .equipment .tbody .cart-item-price,
.cart-items .equipment .tbody .cart-item-quantity,
.cart-items .equipment .tbody .cart-item-summa,
.cart-items .equipment .tbody .cart-item-actions,
.cart-items .equipment-order .tbody .cart-item-number,
.cart-items .equipment-order .tbody .cart-item-image,
.cart-items .equipment-order .tbody .cart-item-name,
.cart-items .equipment-order .tbody .cart-item-price,
.cart-items .equipment-order .tbody .cart-item-quantity,
.cart-items .equipment-order .tbody .cart-item-summa,
.cart-items .equipment-profile .tbody .cart-item-number,
.cart-items .equipment-profile .tbody .cart-item-date,
.cart-items .equipment-profile .tbody .cart-item-name,
.cart-items .equipment-profile .tbody .cart-item-person-type,
.cart-items .equipment-profile .tbody .cart-item-actions{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .equipment-order .tbody .cart-item-number{
	width:15px;
	padding:0px 0px 0px 15px;
}

.cart-items .equipment-profile .tbody .cart-item-number{
	width:42px;
	padding-left:13px;
}

.cart-items .equipment-profile .tbody .cart-item-date{
	width:140px;
}

.cart-items .equipment .tbody .cart-item-image{
	width:85px;
}

.cart-items .equipment-order .tbody .cart-item-image{
	width:42px;
}

.cart-items .equipment .tbody .cart-item-name,
.cart-items .equipment-order .tbody .cart-item-name,
.cart-items .equipment-profile .tbody .cart-item-name{
	width:auto;
}

.cart-items .equipment .tbody .cart-item-price{
	width:85px;
}

.cart-items .equipment-order .tbody .cart-item-price{
	width:100px;
}

.cart-items .equipment .tbody .cart-item-price .price,
.cart-items .equipment .tbody .cart-item-price .old-price,
.cart-items .equipment .tbody .cart-item-price .reference-price,
.cart-items .equipment .tbody .cart-item-price .unit,
.cart-items .equipment-order .tbody .cart-item-price .price,
.cart-items .equipment-order .tbody .cart-item-price .reference-price{
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .cart-item-quantity{
	width:79px;
	padding:0px 4px 0px 19px;
}

.cart-items .equipment-order .tbody .cart-item-quantity{
	width:58px;
}

.cart-items .equipment .tbody .cart-item-quantity a.minus,
.cart-items .equipment .tbody .cart-item-quantity a.plus{
	width:22px;
	height:23px;
	float:left;
	display:table;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .cart-item-quantity a.minus span,
.cart-items .equipment .tbody .cart-item-quantity a.plus span{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .cart-item-quantity input[class="quantity"]{
	width:32px;
	height:19px;
	float:left;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .cart-item-summa{
	width:85px;
}

.cart-items .equipment-order .tbody .cart-item-summa{
	width:87px;
	padding:0px 11px 0px 0px;
}

.cart-items .equipment .tbody .cart-item-summa .sum,
.cart-items .equipment .tbody .cart-item-summa .reference-sum,
.cart-items .equipment-order .tbody .cart-item-summa .sum,
.cart-items .equipment-order .tbody .cart-item-summa .reference-sum{
	display:block;
	margin:0px;
	padding:0px;
}

.cart-items .equipment-profile .tbody .cart-item-person-type{
	width:124px;
	padding-left:30px;
}

.cart-items .equipment .tbody .cart-item-actions{
	width:81px;
	padding:0px 0px 0px 30px;
}

.cart-items .equipment-profile .tbody .cart-item-actions{
	width:29px;
	padding-left:20px;
	padding-right:13px;
}

.cart-items .equipment .tbody .cart-item-actions .delay,
.cart-items .equipment .tbody .cart-item-actions .in-order,
.cart-items .equipment .tbody .cart-item-actions .delete,
.cart-items .equipment-profile .tbody .cart-item-actions .delete{
	float:left;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .cart-item-actions .delete{
	margin:0px 0px 0px 5px;
}

.cart-items .equipment .tbody .cart-item-actions .delay a,
.cart-items .equipment .tbody .cart-item-actions .in-order a,
.cart-items .equipment .tbody .cart-item-actions .delete a,
.cart-items .equipment-profile .tbody .cart-item-actions .delete a{
	width:27px;
	height:27px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .myorders_itog,
.cart-items .equipment-order .myorders_itog{
	width:100%;
	height:31px;
	display:table;
	margin:2px 0px 0px 0px;
	padding:0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.cart-items .equipment .tbody .myorders_itog.reference,
.cart-items .equipment-order .myorders_itog.reference{
	height:48px;
}

.cart-items .equipment .tbody .myorders_itog .cart-itogo,
.cart-items .equipment .tbody .myorders_itog .cart-allsum,
.cart-items .equipment-order .tbody .cart-itogo,
.cart-items .equipment-order .tbody .cart-allsum,
.cart-items .equipment-order .myorders_itog .cart-itogo,
.cart-items .equipment-order .myorders_itog .cart-allsum{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .equipment .tbody .myorders_itog .cart-allsum{
	width:185px;
	padding:0px 0px 0px 16px;
}

.cart-items .equipment-order .tbody .cart-itogo{
	width:auto;
	padding:0px 0px 0px 72px;
}

.cart-items .equipment-order .tbody .cart-allsum,
.cart-items .equipment-order .myorders_itog .cart-allsum{
	width:145px;
	padding:0px 11px 0px 0px;
}

.cart-items .equipment .tbody .myorders_itog .cart-allsum .allsum,
.cart-items .equipment .tbody .myorders_itog .cart-allsum .reference-allsum,
.cart-items .equipment-order .tbody .cart-allsum .allsum,
.cart-items .equipment-order .tbody .cart-allsum .reference-allsum,
.cart-items .equipment-order .myorders_itog .cart-allsum .allsum,
.cart-items .equipment-order .myorders_itog .cart-allsum .reference-allsum{
	display:block;
	margin:0px;
	padding:0px;
}

.cart-items .w100p{
	width:100%;
	margin:20px 0px 0px 0px;
	padding:0px;
}

/***CART_COUPON***/
.cart-items .w100p .cart-coupon{
	width:220px;
	float:left;
	margin:0px;
	padding:0px;
}

.cart-items .w100p .bx_ordercart_coupon{
	width:100%;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.cart-items .w100p .bx_ordercart_coupon input{
	width:184px;
	height:30px;
	float:left;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.cart-items .w100p .bx_ordercart_coupon button{
	width:31px;
	height:31px;
	float:left;
	margin:0px 0px 0px 5px;
	padding:0px;
}

.cart-items .w100p .bx_ordercart_coupon .old_coupon{
	width:184px;
	float:left;
	margin:0px;
	padding:6px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.cart-items .w100p .bx_ordercart_coupon .close{
	width:24px;
	height:24px;
	float:left;
	display:table;
	margin:3px 0px 0px 8px;
	padding:0px;
}

.cart-items .w100p .bx_ordercart_coupon .close i{
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
}

.cart-items .w100p .cart-buttons{
	float:right;
	margin:0px;
	padding:0px;
}

.cart-items .w100p .cart-buttons button{
	height:31px;
	float:left;
	margin:0px 0px 0px 5px;
	padding:0px 20px;
}

/***CART_ACCESSORIES***/
.cart-accessories{
	width:100%;
	float:left;
	margin:50px 0px 0px 0px;
	padding:0px;
}

.cart-accessories .h3{
	width:100%;
	margin:0px;
	padding:10px 0px;
}

.h3 {
	font-size: 18px;
    font-weight: 600;
    color: #575b71;
}

/***PERSONAL***/
/***CATALOG_SUBSCRIBER***/
/***SALE_PROFILE_DETAIL***/
.personal h2,
.catalog-subscriber-forms h2,
.sale-profile-detail-form h2{
	margin:0px 0px 2px 0px;
	padding:9px 0px 9px 14px;
}

.personal .personal-info,
.catalog-subscriber-identification-form-wrap,
.sale-profile-detail-block-wrap{
	margin:0px 0px 10px 0px;
	padding:0px;
}

.personal .personal-info_in,
.catalog-subscriber-identification-form,
.sale-profile-detail-block{
	margin:0px;
	padding:10px;
}

.catalog-subscriber-identification-form .form-group,
.sale-profile-detail-form-group{
	margin:0px 0px 10px 0px;
	padding:0px;
}

.sale-profile-detail-form-description{
	margin:0px;
	padding:5px 0px 0px 0px;
}

.personal input[type="text"],
.personal input[type="password"],
.catalog-subscriber-identification-form input[type="text"],
.sale-profile-detail-form-property input[type="text"]{
	width:319px;
	height:30px;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.personal textarea,
.sale-profile-detail-form-property textarea{
	width:319px;
	max-width:319px;
	height:61px;
	max-height:61px;
	margin:0px;
	padding:9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.catalog-subscriber-identification-form select,
.sale-profile-detail-form-property select{
	margin:0px;
	padding:5px 0px 5px 4px;
}

.sale-profile-detail-form-check-file,
.sale-profile-detail-form-file{
	margin-top:5px;
}

/***LOCATION***/
.sale-profile-detail-form-property .dropdown-block{
	width:266px;
	margin:0px 0px 10px 0px;
}

.sale-profile-detail-form-property .dropdown-block:last-child{
	margin:0px;
}

.sale-profile-detail-form-property .dropdown-icon{
	top:50%;
	margin:-7px 0px 0px 0px;
	padding:0px;
}

.sale-profile-detail-form-property .dropdown-fade2white{
	width:30px;
	height:30px;
	top:0px;
}

.sale-profile-detail-form-property .bx-ui-combobox-toggle,
.sale-profile-detail-form-property .bx-ui-sls-clear{
	width:30px;
	height:30px;
	margin:0px;
}

.sale-profile-detail-form-property .bx-ui-sls-container{
	min-height:30px;
}

.sale-profile-detail-form-property .bx-ui-combobox-container .bx-combobox-fake-as-input{
	height:30px;
	padding:0px;
}

.sale-profile-detail-form-property .bx-ui-sls-container input[type="text"]{
	width:100%;
	padding:0px;
}
/***END_LOCATION***/

.sale-profile-detail-form-btn{
	width:100%;
	float:left;
}

.personal button[type="submit"],
.catalog-subscriber-identification-form button[type="submit"],
.sale-profile-detail-form-btn button[type="submit"]{
	height:31px;
	margin:5px 0px 0px 12px;
	padding:0px 20px;
}

.personal button[type="submit"]{
	margin-left:0px;
}

.catalog-subscriber-identification-form button[type="submit"]{
	margin:0px;
}

.sale-profile-detail-form-btn button[type="submit"]{
	float:left;
	margin:0px;
}

.sale-profile-detail-form-btn button[type="submit"] + button[type="submit"]{
	margin:0px 0px 0px 5px;
}

/***REGISTER, AUTORIZATION, FORGOT_PASS, CHANGE_PASS, CONTACTS***/
.content-form{
	width:100%;
	margin:0px;
	padding:0px;
}

.content-form .field{
	margin:0px 0px 5px 0px;
	padding:0px;
}

.content-form .field input[type="text"],
.content-form .field input[type="password"]{
	width:220px;
	height:30px;
	margin:0px;
	padding:0px 9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.content-form .field input[name="captcha_word"]{
	width:89px;
	float:left;
	margin:0px 5px 0px 0px;
}

.content-form .field img{
	float:left;
	margin:0px;
	padding:0px;
}

.content-form .field textarea{
	width:220px;
	max-width:220px;
	height:61px;
	max-height:61px;
	margin:0px;
	padding:9px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.content-form .field button[type="submit"]{
	width:220px;
	height:31px;
	margin:0px;
	padding:0px 20px;
}

.content-form .field .forgot,
.content-form .field .boc_anch{
	width:218px;
	height:27px;
	display:block;
	margin:0px;
	padding:0px;
}

.content-form .field .boc_anch{
	width:220px;
}

.content-form .field .boc_anch i{
	margin:0px;
	padding:0px 7px 0px 0px;
}

.content-form .login_as{
	margin:0px !important;
	padding:12px 0px 7px 0px !important;
}

/***PERSONAL_ACCOUNT***/
.sale-personal-account-wallet-container{
	width:476px;
	margin-bottom:21px;
	overflow:hidden;
}

.sale-personal-account-wallet-title{
	padding:8px 13px 11px 13px;
}

.sale-personal-account-wallet-list-item{
	width:100%;
	display:table;
	padding:10px 13px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.sale-personal-account-wallet-currency,
.sale-personal-account-wallet-sum{
	display:table-cell;
	vertical-align:middle;
}

.sale-personal-account-wallet-sum{
	width:1px;
}

/***PERSONAL_ACCOUNT_PAY***/
.sale-acountpay-block{
	margin-bottom:3px;
}

.sale-acountpay-title{
	padding:8px 0 11px;
}

.sale-acountpay-fixedpay-list{
	float:left;
}

.sale-acountpay-fixedpay-item{
	height:27px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0 11px;
}

.sale-acountpay-form{
	display:table;
}

.sale-acountpay-form input[type="text"],
.sale-acountpay-form label{
	display:table-cell;
	vertical-align:middle;
}

.sale-acountpay-form input[type="text"]{
	width:134px;
	height:30px;
	padding:0px 9px;
}

.sale-acountpay-form label{
	padding-left:10px;
}

.sale-acountpay-pp-company{
	display:inline-block;
	margin-bottom:13px;
	margin-right:17px;
	width:178px;
	vertical-align:top;
}

.sale-acountpay-pp-company:nth-child(6n-1){
	margin-right:0;
}

.sale-acountpay-pp-company-graf-container{
	width:176px;
	height:88px;
}

.sale-acountpay-pp-company-graf{
	width:174px;
	height:86px;
	display:table;
	position:relative;
}

.sale-acountpay-pp-company-checkbox{
	position:absolute;
	left:6px;
	top:6px;
}

.sale-acountpay-pp-company-checkbox input[type="checkbox"]{
	display:none;
}

.sale-acountpay-pp-company-checkbox label{
	width:14px;
	height:14px;
	display:block;
}

.sale-acountpay-pp-company-checkbox label i{
	display:none;
}

.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-checkbox label i{
	display:inline-block;
}

.sale-acountpay-pp-company-image{
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

.sale-acountpay-pp-company-image img{
	max-width:156px;
	max-height:86px;
}

.sale-acountpay-pp-company-descr{
	position:absolute;
	right:6px;
	top:6px;
}

.sale-acountpay-pp-company-descr label{
	width:16px;
	height:16px;
	display:block;
}

.sale-acountpay-pp-company-descr .pop-up.pp-descr{
	position:absolute;
	opacity:0;
	z-index:-1;
}

.sale-acountpay-pp-company:nth-child(5n+4) .sale-acountpay-pp-company-descr .pop-up.pp-descr,
.sale-acountpay-pp-company:nth-child(5n+5) .sale-acountpay-pp-company-descr .pop-up.pp-descr{
	left:auto !important;
	right:-14px;
}

.sale-acountpay-pp-company:nth-child(5n+4) .sale-acountpay-pp-company-descr .pop-up.pp-descr:after,
.sale-acountpay-pp-company:nth-child(5n+5) .sale-acountpay-pp-company-descr .pop-up.pp-descr:after{
	left:auto;
	right:15px;
}

.sale-acountpay-pp-company-descr label:hover + .pop-up.pp-descr{
	opacity:1;
	z-index:1100;
}

.sale-acountpay-pp-company-smalltitle{
	margin-top:5px;
}

.sale-acountpay-btn{
	height:31px;
	margin-top:11px;
	padding:0px 20px;
}
